* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(137, 12, 175);
  background-color: yellow;
  margin: 0;
  text-align: center;
  padding: 2rem;
  font-size: 4em;
}

#graph-area {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.twentysixhundred {
  background-color: burlywood;
}

.wii {
  background-color: cadetblue;
}

.console-area {
  padding: 1em;
}
.console-area:nth-child(even) {
  background-color: rgb(184, 184, 184);
}

#test-area {
  padding: 2rem;
}

.game-label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}
